/* ===== RESET / BASE ===== */
* { box-sizing: border-box; }
body {
  margin: 0;
  padding: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--bg);
  background-blend-mode:overlay;
  color: var(--text);
}

/* Comment this section to remove the background */
body::after {
  content: "";
  background-image: url('../assets/images/backgrounds/turquoise-sky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body.dark::after {
  background-image: url('../assets/images/backgrounds/starry-sky.jpg');
}

h2 { margin: 0 0 16px; font-weight: 500; }

/* ===== THEME VARS ===== */
:root {
  /* LIGHT MODE */
  --bg: #f7f6f2;
  --panel: #ffffff;
  --panel-border: #e2ded3;
  --text: #2f2f2f;
  --cell-bg: #ffffff;
  --cell-border: #ddd8cc;
  --cell-on: #eaeaea;
  --play-glow: rgba(255, 209, 102, 0.45);
  --btn-bg: #e8e5dc;
  --btn-active: #ffd166;
}

body.dark {
  /* DARK MODE */
  --bg: #0f0f14;
  --panel: #16161f;
  --panel-border: #2f2f45;
  --text: #eaeaf0;
  --cell-bg: #222233;
  --cell-border: #2f2f45;
  --cell-on: #5b8cff;
  --play-glow: rgba(91, 140, 255, 0.45);
  --btn-bg: #2a2a38;
  --btn-active: #5b8cff;
}